@import "tailwindcss";
@import "../styles/theme.css";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  height: 100%;
}

body {
  background: hsl(var(--bg));
  color: hsl(var(--fg));
  font-family: Arial, Helvetica, sans-serif;
}
